.dashboard-container {
  background-image: url('../../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-title {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(90deg, #104b45, #104b45, #104b45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 4px 15px rgba(46, 125, 92, 0.4);
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dashboard-title:hover {
  color: #24664b;               
  transform: scale(1.05);       
}



.dashboard-main.sidebar-open {
  margin-left: 16rem;
}

.dashboard-content {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
  
}

/* Responsive adjustment */
@media (max-width: 768px) {
  .dashboard-main {
    margin-left: 0;
  }

  .dashboard-main.sidebar-open {
    margin-left: 0;
  }
}

/* Individual card styling */
