.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-toggle {
  font-size: 1.5rem;
  background: white;
  border: none;
  cursor: pointer;
  /* display: none; */
  /* background: #104b45; */
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    transition: background 0.3s 
ease;
}

.search-input {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f9f9f9;
  width: 250px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.dark-mode-toggle {
  background: black;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.notification-bell {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}

.notification-bell .badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
}

.profile-avatar img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
.header-search {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 6px 10px;
  border-radius: 20px;
  margin-left: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.search-input {
  border: none;
  outline: none;
  margin-left: 8px;
  width: 650px;        
  background: transparent;
}

.hello-user {
  margin-right: 15px;
  font-weight: 500;
}

.logout-btn {
  background: #ff4d4f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}


/* Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }

  .search-input {
    width: 160px;
  }
}
.search-button {
  background: #fff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: -50px;
}
.search-button:hover {
  background: #fff;
}