.App {
  text-align: center;
  display: flex; /* Use flexbox for overall layout */
  flex-direction: column; /* Arrange children vertically */
  height: 100%; /* Ensure App fills the full height of html/body */
  overflow: hidden; /* Prevent body scroll if content overflows */
}

.main-container {
  display: flex; /* Use flexbox for sidebar and content area */
  flex: 1; /* Allow main-container to take up remaining vertical space */
  background-color: transparent; /* Ensure no white background here */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
